<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fixed Layout</title>
</head>
<body>
  <div class="main_container">
    <div id="container" *ngIf="isAuthenticated" [class.activeClass]="isSidebarActive">
      <app-sidebar (sidebarToggle)="headerSidebarToggle($event)"></app-sidebar>
      <div id="contentContainer">
        <app-header [isSidebarActive]="isSidebarActive" (toggleSidebar)="headerSidebarData()"></app-header>
        <div class="route_container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <router-outlet *ngIf="!isAuthenticated"></router-outlet>
  </div>
</body>
</html>